
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <mat-paginator class="mb-3"
                        [length]="productos.length"
                        [pageSize]="page_size"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="handlePage($event)"
                        showFirstLastButtons>
            </mat-paginator>
            <table class="table table-hover table-striped table-light">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>CODIGO</th>
                        <th>EXISTENCIAS</th>
                        <th>TIPO DE PRODUCTO</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos | paginate:page_size:page_number">
                        <td class="text-center">{{producto.id}}</td>
                        <td class="text-center">{{producto.nombre}}</td>
                        <td style="width: 30%;">{{producto.codigo}}</td>
                        <td class="text-center">{{producto.existencias}}</td>
                        <td class="text-center">{{producto.tipoproducto.nombre}}</td>
                       
                        <td class="text-center">
                            <button class="btn btn-success">
                                <span class="material-icons" (click)="verProducto(producto.id)" style="vertical-align: middle;">visibility</span>
                            </button>
                            <button class="btn btn-warning">
                                <span class="material-icons" (click)="editarProducto(producto.id)" style="cursor: pointer; vertical-align: middle;">mode_edit</span>
                            </button>
                            <button class="btn btn-danger">
                                <span class="material-icons" (click)="eliminarProducto(producto.id)" style="vertical-align: middle;">delete</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
