<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-light table-striped table-hover">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>USUARIO</th>
                        <th>PRODUCTO</th>
                        <th>FACTURA</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{compra.id}}</td>
                        <td class="text-center">{{compra.factura.usuario.id}}</td>
                        <td class="text-center">{{compra.producto.id}}</td>
                        <td class="text-center">{{compra.factura.id}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="botonera">
                <button class="btn">
                    <span class="material-icons" (click)="editarCompra(compra.id)" style="cursor: pointer; vertical-align: middle;">mode_edit</span>
                </button>
                <button class="btn">
                    <span class="material-icons" (click)="eliminarCompra(compra.id)" style="vertical-align: middle;">delete</span>
                </button>
                <button class="btn">
                    <span class="material-icons" (click)="atras()" style="vertical-align: middle;">arrow_back</span>
                </button>
            </div>
        </div>
    </div>
</div>