<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <mat-paginator class="mb-3" [length]="usuarios.length" [pageSize]="page_size"
                [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons>
            </mat-paginator>
            <table class="table table-light table-striped table-hover">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>APELLIDOS</th>
                        <th>DNI</th>
                        <th>EMAIL</th>
                        <th>USUARIO</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios | paginate:page_size:page_number">
                        <td class="text-center">{{tipousuario.id}}</td>
                        <td class="text-center">{{tipousuario.nombre}}</td>
                        <td class="text-center">{{tipousuario.apellidos}}</td>
                        <td class="text-center">{{tipousuario.dni}}</td>
                        <td class="text-center">{{tipousuario.email}}</td>
                        <td class="text-center">{{tipousuario.usuario}}</td>

                        <td class="text-center">
                            <button class="btn btn-success">
                                <span class="material-icons" (click)="verUsuario(usuario.id)"
                                    style="vertical-align: middle;">visibility</span>
                            </button>
                            <button class="btn btn-warning">
                                <span class="material-icons" (click)="editarUsuario(usuario.id)"
                                    style="cursor: pointer; vertical-align: middle;">mode_edit</span>
                            </button>
                            <button class="btn btn-danger">
                                <span class="material-icons" (click)="eliminarUsuario(usuario.id)"
                                    style="vertical-align: middle;">delete</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>