mat-paginator {
    background-color: #806721;
    color: white;
    border-radius: 100px;
    padding: .5%;
}


.table {
    border: 2px solid #806721;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: #d1a734;
    color: white;
}

.table>thead {
    vertical-align: middle;
}

.btn {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}