<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form class="form" action="">
                <h2>AGREGAR FACTURA</h2><hr><br>
                <div class="form-group">
                    <label for="nombre">Codigo: </label>
                    <input [(ngModel)]="factura.codigo" name="nombre" type="text" class="form-controls">
                </div>
                <div class="form-group">
                    <label for="producto">Usuario: </label>
                    <input [(ngModel)]="factura.usuario.id" name="producto" type="text" class="form-controls" readonly>
                </div>
                <button class="btn btn-success" (click)="guardarFactura()">Actualizar</button>
                <button class="btn btn-success" (click)="atras()">Atrás</button>
            </form>
        </div>
    </div>
</div>

